
@import "keep-react/src/main.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#navbar a.active {
  color: #1977cc;
  border-bottom: 2px solid #1977cc;
}
  .ReactCollapse--collapse{
    font-size: 20px;
    text-align: start;
  }
  